body {
  margin: 0px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  letter-spacing: .4px;
}

hr {
  border: 1px solid rgba(234, 231, 231, 0.474);
  margin: 0px;
}

#fixed {

  overflow: hidden;
  position: fixed;
}


#containertop {
  width: 1355px;
  margin: auto;
}



.active:hover {
  cursor: pointer;
}

.active:hover .underlinenav {
  width: 100%;
}

.underlinenav {
  border-bottom: 2px solid #732dd9;
  width: 0%;
  transition: 0.5s;
  justify-items: end;
  margin-top: 15px;
}

.active {

  margin-top: 17px;
  margin-right: 38px;
}

.counter {
  color: white;
  display: flex;
  z-index: 2;
  align-items: center;
  flex: auto;
  width: fit-content;
  position: absolute;
  bottom: 1vh;
  left: 1vh;
  border-radius: 20px;
  font-size: smaller;
}

#mySidebar {
  display: none;
  height: 100vh;

}

#navbar {
  justify-content: center;
  background: white;
  border-bottom: 0.5px solid rgba(217, 216, 216, 0.431);
  position: fixed;
  z-index: 100;
  width: 100%;
}

.topnavright {
  height: 100%;
  color: #2a2a2a;
  width: 100%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.burgermenuebtn {
  border: none;
  background: white;
}

.searchbtn {
  border: none;
  background: white;
}


.imagex {
  object-fit: fill;
  height: 29vh;
  width: 100%;
  border-radius: 10px;

}

.image {
  object-fit: cover;
  height: 29vh;
  max-height: 283px;
  width: 100%;

  border-radius: 10px;

}

.imagex {
  object-fit: cover;
  height: 29vh;
  max-height: 283px;
  width: 100%;

  border-radius: 10px;

}

.image2 {
  display: flex;
  align-items: end;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 0px;
  object-fit: cover;
  width: -webkit-fill-available;
}

@media only screen and (min-width: 1920px) {
  .cardsblk {
    color: black;
    position: relative;
    border: rgb(237, 237, 237);
    border-style: solid;
    border-radius: 20px;
  }

  .image2 {
    border-radius: 10px;
    object-fit: cover;
  }
}

.explore {
  display: flex;
  width: 100%;
}

.explore .explorebtn svg {
  width: auto;
  justify-content: center;
  align-items: center;

}

.explorebtn {
  width: inherit;
  display: flex;
  justify-content: flex-end;
  margin-left: 6px;
  align-items: end;
}

.explorebtn button {
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 100%;
  background: white;
  border: 1px solid rgb(210, 210, 210);
  margin-left: 6px;
}

.offersvg {
  color: red;
  height: 15px;
  width: 15px;
  margin-right: 4px;
  position: relative;
  align-items: center;
}

.roundbtn {
  background-color: #fff;
  color: #732dd9;
  display: flex;
  width: fit-content;
  align-items: center;
  flex: auto;
  width: fit-content;
  position: absolute;
  bottom: 10px;
  font-weight: 800;
  letter-spacing: -1;
  right: 10px;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
}

.cardtop {
  position: relative;
  max-width: 322px;
  max-height: 283px;
}

.activea:hover {
  border-style: solid;
  border-width: 1px;
  border-style: solid;
  border-width: 1px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  background: #732dd9;
  color: white;
  cursor: pointer;
}

.activea {
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1;
  border-style: solid;
  border-color: #732dd9;
  font-size: 11pt;
  border-width: 1px;
  padding: 9px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  background: white;
  color: #732dd9;

}

.logosize {
  padding-top: 28px;
  height: 100%;
  align-items: baseline;
  margin-bottom: 1px;
}

.topnav {
  padding: 0%;
  margin: 0px;
  height: 58px;
  background: red;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  align-items: center;
  display: flex;
  font-size: 11pt;
  background-color: white;
  color: rgb(105, 105, 105);
}

.coverphoto {
  width: 100%;
  height: auto;
}

.titlee {
  margin-left: 60px;
  margin-right: 60px;
  font-size: 18px;
  letter-spacing: 0px;
  font-family: 'Lato', 'regular';
  text-align: center;
  align-items: center;
}

.heading {
  margin: 0%;
  font-size: 48px;
  font-weight: 900;
}

.tablecontent {
  justify-content: center;
}

.table {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
}

.quote {
  font-size: 19px;
  margin-top: 10px;
  line-height: 1.6;
  color: rgb(146, 146, 146);
}

.city {
  border-right: none;
  border-color: lightgray;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.property {
  border-right: none;
  border-color: lightgray;
}

.price {
  border-color: lightgray;
}

.search {
  padding-left: 30px;
  padding-right: 30px;
  background: #732dd9;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

}

select {
  padding: 15px;
  border-radius: 0%;
  outline: none;

  width: 100%;
  margin-right: 100px;
  padding-left: 10px;
  font-size: 12pt;
  color: gray;
}


.filter {
  width: fit-content;
  justify-content: center;
  height: 58px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.contenttitle {
  margin-top: 18px;
  display: grid;
  justify-content: center;

  align-items: center;
}

footer{
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  height: 65px;
  background-color: #f2f2f2;
}
footer button{
  width: 35px;
  height: 35px;
  margin: 0%;
  border-radius: 50%;
  padding: 10px;
  
  border: none;
  background: white;
  margin-right: 10px;

}
footer button svg{
  height: 100%;
  width: 100%;
  color: rgb(136, 136, 136);;
}
.footerlinktoo{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;

}

.footer{
  display: flex;
  align-items: center;
  
}
.footlinks li{
  display: inline;
  margin-right: 20px;
  border-bottom: 1px solid ;
  text-align: right;
font-size: 12px;
}
.footerlinktoo p{
  width: fit-content;
  display: inline;
  margin-right: 20px;
  text-align: right;
font-size: 12px;
}


.contenttitledata {
  width: 777px;
  font-size: 18px;
  font-family: 'Lato', 'regular';
  text-align: center;
  align-items: center;
}

.maintitle {
  margin-top: 23px;
  margin-bottom: 0px;
  width: 40%;
  font-size: x-large;
  font-weight: 550;

}

.cardbottom {
  margin-top: 10px;
  margin-bottom: 13px;
  text-transform: uppercase;
  font-size: 70;
}

.topviewproject {
  border: 0px solid rgb(190, 190, 190);
}

.moveinnow p {
  color: rgb(161, 161, 161);
  margin-top: 8px;
  margin-bottom: 20px;
}

.topviewprojecttable {
  margin-top: 13px;
  grid-gap: 25px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.topviewprojecttablee {
  margin-top: 20px;
  grid-gap: 15px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.moveinnowtable {
  display: grid;
  grid-template-columns: auto auto auto;

}

.cardsblk h2 {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 0px;
  font-size: x-large;
}

.cardsblk p {
  margin-left: 40px;
  margin-top: 10px;
  color: rgb(154, 153, 153);
}

.cardsblk {
  margin-bottom: 20px;
  color: black;
  position: relative;
  border: 1px rgb(228, 225, 225);
  border-style: solid;
  border-radius: 10px;
}

.card {
  border: 0px solid rgb(190, 190, 190);
  border-radius: 20px;
}

.getapp{ 
  margin-top: 100px;
  height: 398.6px;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
    background-position: 100%;
    background-size: 670px 100%;
  background-image: url("https://realtorspk.com/_next/static/media/Mockup.29c3fb38c0962debd1de6fd2589543ce.svg");
}

.titleforapp{
  margin-left: auto;
  margin-right: auto;
  width: 66vw;
  height: inherit;
}

.leftSideapp{
  height: inherit;
  display: flex;
  align-items: center;

}
.leftSideapp .app  h1{
  font-size: 36px;
  margin-bottom: 0.59rem;
  margin-top: 0rem;
  font-weight: 500;  
}
.leftSideapp .app p{
  margin-bottom: 1.2rem;
  margin-top: 0rem;
  font-size: 20px; 
}

.leftSideapp .app h1 span{
  font-weight: bolder;  
}

/*  */

.getcontact{ 

  height: 338px;
  background: rgb(248, 248, 248);
  margin: 0%;
  padding-top: 1px;
  padding-bottom: 1px;
  background-repeat: no-repeat;
    background-position: 100%;
    background-size: 670px 100%;

}
.getcontact .titleforcontact .contact h1{
  font-size: 24px;
  color: #2a2a2a;
  margin-bottom: 5px;
  margin-bottom: 1.5rem
}
.getcontact .titleforcontact .contactnav{
  border-bottom: 2px solid #e7e7e7;
  padding: 15px 20px;
  width: fit-content;
  margin-bottom: 20px;
}
.getcontact .titleforcontact table{
  width: 100%;
}
.getcontact .titleforcontact table td{
  padding-bottom: 10px;
  color: #888;
}
.getcontact .titleforcontact .contactnav li{
  display: inline;
  border-bottom: 2px solid #e7e7e7;
  padding: 15px 20px;
}
.getcontact .titleforcontact .contactnav li:hover{
  display: inline;
  color: #732dd9;
  border-bottom: 2px solid #732dd9;
  padding: 15px 20px;
}
.mobilemenu:hover {
  color: black;

}

.burgermenustyle:hover {
  cursor: pointer;
}

.searchmenustyle:hover {
  cursor: pointer;
}

.mobilemenu {
  display: none;
  width: 100vw;
}

.burgermenustyle {
  width: 30px;
  height: 30px;
  display: block;
}

.searchmenustyle {
  width: 30px;
  height: 30px;
  display: block;
}



@media only screen and (max-width: 1440px) {

  #containertop {
    width: auto;
    ;
    margin-left: 10px;
    margin-left: 10px;
  }

  .cardsblk {
    color: black;
    position: relative;
    border: rgb(237, 237, 237);
    border-style: solid;
    border-radius: 20px;
  }


  .table {
    overflow-x: scroll;

  }

  .table::-webkit-scrollbar {
    display: none;
  }

  .topviewprojecttable {
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto auto auto;
  }

  .topviewprojecttable {
    margin-top: 20px;
    display: grid;
    overflow-x: scroll;
  }

  .topviewprojecttable::-webkit-scrollbar {
    display: none;
  }
}

#firstsection {
  background-color: white;
  height: 66vh;
  margin-top: 90px;
  display: grid;
  align-items: center;
  width: 2;
}

@media only screen and (max-width: 900px) {
  #firstsection {
    margin-top: 90px;
    display: none;
  }


  .homepage {
    margin-top: 70px;
  }

  #secondsection {
    margin-top: 30pxpx;
  }

  .coverphoto {
    display: none;
  }

  .topnavright {
    display: none;
  }

  .mobilemenu {
    display: block;
    display: flex;
    justify-content: right;
  }

  .heading {
    font-size: 20pt;
  }

  body {
    font-size: 15px;
  }

  .maintitle {
    font-size: 20px;
  }

  .cardsblk {
    width: 35vw;
  }

  .image2 {
    width: inherit;
    margin-top: 2px;
  }

  .table {}

  .cardsblk h2 {
    margin-top: 15px;
    font-size: 15px;
    margin-left: 5px;
  }

  .cardsblk p {
    font-size: 15px;
    margin-left: 5px;
  }

  .topviewprojecttable {
    margin-top: 20px;
    display: flex;
    overflow-x: scroll;

  }

  .topviewprojecttable::-webkit-scrollbar {
    display: none;
  }

  .topviewprojecttablee {
    margin-top: 20px;
    display: flex;
    overflow-x: scroll;

  }

  .topviewprojecttablee::-webkit-scrollbar {
    display: none;
  }

  .card {
    width: 168px;
  }

  .image {
    width: 166px;
    height: 166px;
  }

  .imagex {
    width: 166px;
    height: 166px;
  }
}


@media only screen and (max-width: 720px) {}